name: dnsmasq

on:
  push:
    paths:
      - 'dnsmasq/**'
      - '.github/workflows/dnsmasq.yml'
  schedule:
    - cron: '30 2 1 * *'

jobs:
  docker_dnsmasq:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        if: github.ref == 'refs/heads/master'

      - name: Build and push dnsmasq image
        id: docker_build_push_dnsmasq
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.ref == 'refs/heads/master' }}
          tags: joelnb/dnsmasq:latest
          context: ./dnsmasq
          file: ./dnsmasq/Dockerfile
      - name: Image digest
        run: echo ${{ steps.docker_build_push_dnsmasq.outputs.digest }}
      - name: Scan image
        uses: anchore/scan-action@v7
        with:
          image: joelnb/dnsmasq:latest
          fail-build: false
        if: github.ref == 'refs/heads/master'
