name: gollum

on:
  push:
    paths:
      - 'gollum/**'
      - '.github/workflows/gollum.yml'
  schedule:
    - cron: '20 3 1 * *'

jobs:
  docker_gollum:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        if: github.ref == 'refs/heads/master'

      - name: Build and push gollum image (latest)
        id: docker_build_push_gollum
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.ref == 'refs/heads/master' }}
          tags: joelnb/gollum:latest
          context: ./gollum
          file: ./gollum/Dockerfile
      - name: Image digest (latest)
        run: echo ${{ steps.docker_build_push_gollum.outputs.digest }}
      - name: Scan image (latest)
        uses: anchore/scan-action@v7
        with:
          image: joelnb/gollum:latest
          fail-build: false
        if: github.ref == 'refs/heads/master'

      - name: Build and push gollum image (nginx)
        id: docker_build_push_gollum_nginx
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.ref == 'refs/heads/master' }}
          tags: joelnb/gollum:nginx
          context: ./gollum/nginx
          file: ./gollum/nginx/Dockerfile
      - name: Image digest (nginx)
        run: echo ${{ steps.docker_build_push_gollum_nginx.outputs.digest }}
      - name: Scan image (nginx)
        uses: anchore/scan-action@v7
        with:
          image: joelnb/gollum:nginx
          fail-build: false
        if: github.ref == 'refs/heads/master'
