name: latex

on:
  push:
    paths:
      - 'latex/**'
      - '.github/workflows/latex.yml'
  schedule:
    - cron: '50 2 1 * *'

jobs:
  docker_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        if: github.ref == 'refs/heads/master'

      - name: Build and push latex image
        id: docker_build_push_latex
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.ref == 'refs/heads/master' }}
          tags: joelnb/latex:latest
          context: ./latex
          file: ./latex/Dockerfile
      - name: Image digest
        run: echo ${{ steps.docker_build_push_latex.outputs.digest }}
      - name: Scan image
        uses: anchore/scan-action@v7
        with:
          image: joelnb/latex:latest
          fail-build: false
        if: github.ref == 'refs/heads/master'
