name: tiddlywiki

on:
  push:
    paths:
      - 'tiddlywiki/**'
      - '.github/workflows/tiddlywiki.yml'
  schedule:
    - cron: '0 3 1 * *'

jobs:
  docker_tiddlywiki:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        if: github.ref == 'refs/heads/master'

      - name: Build and push tiddlywiki image
        id: docker_build_push_tiddlywiki
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.ref == 'refs/heads/master' }}
          tags: joelnb/tiddlywiki:latest
          context: ./tiddlywiki
          file: ./tiddlywiki/Dockerfile
      - name: Image digest
        run: echo ${{ steps.docker_build_push_tiddlywiki.outputs.digest }}
      - name: Scan image
        uses: anchore/scan-action@v7
        with:
          image: joelnb/tiddlywiki:latest
          fail-build: false
        if: github.ref == 'refs/heads/master'
